*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
     margin:0 auto; 
     max-width:1120px;
     /* text-align: center;  */

}
.head{
    background: rgba(255, 144, 14, 0.1);
     /* border: white 1px solid;  */
     height: 1120px;
     text-align: center;
    
    
}
.nav-section{
    display: flex;
    justify-content: center;
}
.title-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    font-size: 16px;

}
.title{
    font-weight: 700px;
font-size: 45px;
text-align: center;
color: #131313;
width: 302px;
height: 53px;
}
.brand{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    width: 862px;
height: 125px;
margin-top: 110px;
margin-bottom: 20px;
padding-top: 30px;

    
}
.brand-info{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 868px;
height: 52px;
padding-bottom:5px;
padding-top: 10px;
}
.btn{
    color: azure;
    font-weight: 500;
    font-size: 20px;
    background-color: orange;
    border-radius: 5px;
    border: 5px;
    height: 60px;
    width: 170px;
    margin-top: 15px;
}
.pic{
    width: 1040px;
    height: 550px;
    margin-top: 35px;


}.single{
    width: 342px;
height: 342px;
border-radius: 8px;
}
.all-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-left: 50px;
    margin-top: 90px;
    
}

.left{
    text-align: left;
    margin-left: 73px;
}
.ash{
    
    font-size: 45px;
    color: #727272;

}
.black{
    font-size: 45px;
    color: #131313;
    
    
}.orange{
    font-size: 45px;
    color: #FF900E;

}
.description{
    display: flex;
    align-items: center;
    
}
.more-right{
    display: grid;
    grid-template-rows: repeat(5,1fr);
}
.basic{
    display: flex;
    margin-top: 136px;
    margin-bottom: 136px;
    width: 100%;
}
h1{
    width: 468px;
    font-size:45px;

}
.para{
    padding-top: 10px;
    color: #727272;

}
.border{
    border-left: #FF900E solid 5px;
}

.more-right{
    position: relative;
    
}
.woman{
    width: 458px;
    height: 850px;
    border-radius: 8px;
    margin-right: 245px;
    margin-left: 100px;
}
.basic-info{
   padding-bottom: 30px;
   margin-left: 50px;
   margin-right: 20px;
    
}
.box{
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: white;
    box-shadow: 0px 10px 10px #d4d3d3;
    border: none;
}
.extra-button{
    position: absolute;
    color: azure;
    font-size: 26px;
    width: 222px;
    height: 100px;
    bottom: 0px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    top:2800px;
    /* margin:0 auto; 
    max-width:1120px; */
    
}
.factor{
    text-align: left;
    
    
}
h3{
    margin-left: 240px;
    font-size: 46px;

}
.awards{
   display: flex;
   text-align: center;
   justify-content: space-around;

}
.award-boxes{
    
    font-size: 16px;
     margin: 100px 0px; 
     padding: 20px; 
    height: 100px;
    width: 150px;
    border: 2px solid #FF900E;
    justify-content:space-evenly;
    text-align: center;
    text-align: center;
    transition: width 3s, height 3s, transform 3s;
    
   
    
}
.award-boxes:hover{
    background-color: antiquewhite;
    transform: rotate(270deg);
    
}
.close{
    font-weight: 700px;
    color: rgb(74,73,73);
}
.icon{
    height: 40px;
    width: 120px;
    filter: grayscale(1);
}
.icons{
    display: flex;
    gap: 35px;
    justify-content: space-between;
    padding: 48px 48px;

}
.spons{
    text-align: center;
}
.our{
    font-size: 36px;
}
.able{
    text-align: center;
}
.social{
    margin-bottom: 25px;
}
.media{
    text-align: center;
    list-style: none;
    
}

.reserved {
    color: #727272;
    background-color: bisque;
    width: 75%;
    height: 45px;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
    padding-top: 15px;
}

    /* media query */
    @media only screen and (max-width:662px){
        .description, .all-pic{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            margin: 0 auto;
            max-width: 1120px;

        }
        .basic{
            display: flex;
            flex-direction: column-reverse;
            max-width: 1120px;
            margin: 0 auto;
        }
        .award-boxes{
               display: flex;
               flex-direction: column;
               max-width: 1120px;
               margin-left: 55px;

        }
        .icons{
            display: flex;
            flex-wrap: wrap;
            max-width: 1120px;
            margin-left: 20px;
        }
    }
    

